.friendsBlock{
    margin: 30px 0;
    color: #fff;
}
.title{
    font-size: 24px;
    font-weight: 600;
    margin: 5px 0 8px;
}
.friends{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}