.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{

}

.userDialog{
    border-bottom: 1px solid #efefef;
    padding: 5px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.userDialog.active{
    background: rgba(72, 135, 250, 0.18);
}
.name{
    margin: 0 0 0 10px;
}

.openedDialog{
    border: 1px solid #efefef;
    padding: 10px;
    margin: 0 20px 0 0;
}

.messageBox{
    display: flex;
}
.messageBox.myMessage{
    flex-direction: row-reverse;
}
.message{
    background: #4887fa;
    border-radius: 17px;
    padding: 15px 15px 20px;
    color: #fff;
    margin: 0 0 20px 10px;
}